repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: pretty-format-json
    -   id: detect-aws-credentials
    -   id: check-ast
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: no-commit-to-branch
        args: [--branch, main, --branch, develop]
-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "--rcfile=.pylintrc", # Link to your config file
        ]
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
    - id: terraform_fmt
      args:
        - --args=-write=true
    - id: terraform_tflint
    - id: terraform_checkov
      args:
        - --args=--config-file=__GIT_WORKING_DIR__/.checkov.yaml
